<h1>New Party</h1>

<%= form_with model: @party do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :active, value: true %>

  <div>
    <%= form.submit %>
  </div>
<% end %>